# ===== General =====
*.class
*.log
*.pyc
*.swp
*.lock
.DS_Store
.env
.svn/
.history

# ===== IDE =====
*.iml
*.ipr
*.iws
.idea/
# .vscode/  # comment nếu muốn share setting VSCode

# ===== Flutter / Dart / Pub =====
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/

# ===== Android =====
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
**/GeneratedPluginRegistrant.java

# Keystore/secret
*.jks
*.keystore

# ===== iOS =====
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Xcode junk
ios/Pods/
ios/DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcworkspace/           # workspace người dùng
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/

# ===== Symbolication & Obfuscation =====
app.*.symbols
app.*.map.json
node_modules
