# Node / Expo / RN
node_modules/
.expo/
.expo-shared/
dist/
.cache/
.turbo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/**
!.vscode/extensions.json
!.vscode/settings.json
.idea/